<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Umair's Portfolio</title>
    <link rel="stylesheet" href="/styles/generalPage.css">
</head>
<body>
    <hr>
    <div class="mainServices">
        <h4>Welcome!</h4>
        <h6><%=userCredentials?.email%></h6>
        <h6><%=userCredentials?.userName%></h6>
        <hr>
        <h1>Pending Orders</h1>
        <hr>
        
        <% if (pendingOrders && pendingOrders.length > 0) { %>
            <% for (let i = 0; i < pendingOrders.length; i++) { %>
                <h2>Order No: <%= i %></h2>
                <% let order = pendingOrders[i]; %>
                <form action="/admin" method="post">
                <table>
                    <tr>
                        <th>Client Name</th>
                        <th>Email</th>
                        <th>Industry</th>
                        <th>Phone Number</th>
                        <th>Project Type</th>
                        <th>Descripion</th>
                        <th>Platform</th>
                        <th>Budget</th>
                        <th>timeLine</th>
                        <th>Comments</th>
                        <th>Email user</th>
                        
                    </tr>
                    <tr>
                        <td><%=order.fullName%></td>
                        <td><%=order.email%></td>
                        <td><%=order.industry%></td>
                        <td><%=order.phoneNumber%></td>
                        <td><%=order.projectType%></td>
                        <td><%=order.projectDescription%></td>
                        <td><%=order.prefferedPlatform%></td>
                        <td><%=order.ExtimatedBudget%></td>
                        <td><%=order.timeLine%></td>
                        <td><%=order.additionalComments%></td>
                        <td><%=order.loggedinUserEmail%></td>
                    </tr>
                </table>
                    <input type="hidden" name="email" value="<%=order.loggedinUserEmail%>">
                    <button type="submit" class="adminButtons">Receive the Order</button>
                    
                </form>
                <form action="/admin/reject" method="post">
                    <input type="hidden" name="emailToDelete" value="<%=order.loggedinUserEmail%>">
            
                    <button type="submit" class="adminButtons">Reject this Order</button>
                </form>
                
                <hr>
            <% } %>
            
        <% } else { %>
            <h5>No orders available.</h5>
        <% } %>
        <hr>
        <h1>Received Orders</h1>
        <hr>
        <% if (receivedOrder && receivedOrder.length > 0) { %>
            <% for (let i = 0; i < receivedOrder.length; i++) { %>
                <h2>Order No: <%= i %></h2>
                <% let order = receivedOrder[i]; %>
                <table>
                    <tr>
                        <th>Client Name</th>
                        <th>Email</th>
                        <th>Industry</th>
                        <th>Phone Number</th>
                        <th>Project Type</th>
                        <th>Descripion</th>
                        <th>Platform</th>
                        <th>Budget</th>
                        <th>timeLine</th>
                        <th>Comments</th>
                        <th>Email user</th>
                        
                    </tr>
                    <tr>
                        <td><%=order.fullName%></td>
                        <td><%=order.email%></td>
                        <td><%=order.industry%></td>
                        <td><%=order.phoneNumber%></td>
                        <td><%=order.projectType%></td>
                        <td><%=order.projectDescription%></td>
                        <td><%=order.prefferedPlatform%></td>
                        <td><%=order.ExtimatedBudget%></td>
                        <td><%=order.timeLine%></td>
                        <td><%=order.additionalComments%></td>
                        <td><%=order.loggedinUserEmail%></td>
                    </tr>
                </table>
                 
                
                <hr>
            <% } %>
            
        <% } else { %>
            <h2>No received orders available.</h2>
        <% } %>
    </div>
    
</body>
</html>